@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
